.panel {
  background-color: orange;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
}
.panel label,
input {
  text-align: center;
  width: 200px;
}
.panel input{
    border-radius: 5px;
}
button {
  margin-top: 15px;
  width: 200px;
}
